.about{
    margin-top: 7em;
    text-align: center;

}
.about p {
    font-size: 0.8em;
    width:60%;
    margin-left:20%
}
.roundbox{
        margin-top:10%;
        margin-bottom: 5%;
        margin-left:15%;
        border-radius: 25px;
        background:#FFE1A1;
        padding: 20px;
        width: 300px;
        height: 500px;
      
}
@media only screen and (min-width: 850px) {
   .aboutflex{
       display: flex;
   }
   .roundbox{
       margin-left: 10%;
     
    width: 80%;  
    height: 200px;
    display: flex;
    flex-direction: row-reverse;
}
.rtext{
    text-align:left;
   
    
}
.rtext p{
    margin-left: 1%;
    font-size: 0.8em;
    
}
}
@media only screen and (min-width: 1050px) {
    .rtext h4{
        margin-left: -10%;
        
    }
    .rtext p{
        margin-left: -10%;
        
    }
}

@media only screen and (min-width: 1280px) {
    .rtext h4{
        margin-left: -60%;
        
    }
    .rtext p{
        margin-left: -59%;
        
    }
    .rtext img{
        margin-left: -59%;
    }
}