.quick{
    text-align: center;
 
}
.needsText{
    margin-top: 10%;
}
.quicks{
    margin-top: 1%;
}
.grocery{
    padding-top:10%;
}
.vegetables{
    padding-top:10%;
}
.care{
    padding-top:10%;

}
.home{
    padding-top:10%;
}
.bevarage{
    padding-top:10%;
}
.explore{
    margin-left: 5%;
}


@media only screen and (min-width: 650px) {
   .flexsearch{
     display: flex;
     margin-top: -2%;
     justify-content: center;
     
   }
   .grocery{
    margin-left:5%;
}
   .vegetables{
    margin-left:5%;
}
.care{
    margin-left:5%;

}
.home{
    margin-left:5%;
}
.bevarage{
    margin-left:5%;
}
}