ul {
    list-style-type: none;
}
ul li{
    text-align: left;
}
a{
    text-decoration: none;
    color:black;
}
img{
    margin-top:3%;
    
}
.footer{
    margin-left: 5%;
   
}
.footer a{
    font-size: 0.85em;
}
.g{
    margin-left: 2%;
}
.f{
    margin-left: 2%;
}
.t{
    margin-left: 2%;

}
.y{
    margin-left: 2%;
}
@media only screen and (min-width: 850px) {
   .footerflex{
       display: flex;
       justify-content: space-between;
   }
   .finalflex{
       display: flex;
       justify-content: space-evenly;
   }

}