
.logo{
  float:left;
}
.menu {
  width: 25px;
  margin: 7%  ;
 
  float: right;
}

.hide-mobile {
  display: none;
}
.nav ul {
  position: fixed;
  width: 40%;
  top: 0;
  right: 0;
  text-align: left;
  background: #ffeabb;
  height: 100%;
  z-index: 7;
  padding-top: 3em;
}
.nav ul li{
    list-style: none;
}

.nav ul li a {
font-size: 0.8em;
  color: #3DC28F;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1em 2em;
  background:  #ffeabb;
  
}

.nav ul li a:hover {
  background-color: rgba(0, 204, 255, 0.63);
  color:white
}
.exit-btn {
  margin-bottom: 1em;
  margin-top: -1.3em;
  text-align: right;
  padding: 0 1.4em;
}
.exit-btn img {
  width: 15px;
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  .header {
    background-color: #FFE1A1;
  }
  .logo{
    margin-top:1%;
  }
    .nav{
      
        float: right;
       
    }
    .show-desktop {
      display: block;
      margin: 0 auto 13% auto;
    }
    .hide-desktop {
      display: none;
    }
  .nav ul {
      position: inherit;
      width: auto;
      background: none;
      height: auto;
      display: flex;
      padding-top: 0;
    }
    .exit{
      display: none;
    }
    .nav ul li {
      display: flex;

    }
    .nav ul li a {
      font-size: 0.8em;
      color:#3DC28F;
      background-color: inherit;
      text-align: left;
      padding: 1em 2em;
    }
    .nav ul li a:hover {
      background-color: inherit;
      border-radius: 30px;
      background: #3DC28F;
      color:white;
      
    
    

      
    }
  
}